<h1>Audit Log Dashboard</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Employee</th>
      <th>Week Starting</th>
      <th>Confirmed At</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render @audit_logs %>
  </tbody>
</table>
<center><%= paginate @audit_logs %></center>